<a href="https://colab.research.google.com/github/TonyIssacJames/EPAI_submissions/blob/master/Quiz_06/Tony_Date_Generator.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [51]:
import random

from datetime import datetime
print(datetime.now())

2020-09-06 21:40:03.477193

In [52]:
def date_gen (start, end):
  """ generates a date between start, end years"""
  date =  min(int(random.random()* 31) + 1, 31)
  month =  min(int(random.random() * 12)+ 1, 12)
  year =  min(int(random.random() * (end -start) + start), end)

  return date, month, year

In [53]:
months = ["invalid","Jan", "Feb", "Mar", "Apr", "May", "Jun", "July", "Aug", "Sep", "Oct","Nov", "Dec"]

days = ["th", "st", "nd", "rd", "th", "th","th","th","th","th","th","th","th"]

In [54]:
def date_str(date, month, year):
  """ coverts the date in numbers to a printable string like 1th, Jun, 1992"""
  date_suffix = "th"
  if date//10 != 1:
    date_suffix = days[date%10]
  month_str  = months[month]

  print("{}{}, {}, {}.".format(date,date_suffix,month_str,year   ))

In [55]:
for i in range(25):
  date, month, year  = date_gen (1901,2020)
  #print(date, month, year)
  date_str(date, month, year)

19th, Dec, 2019.
1st, Jan, 1993.
28th, May, 1991.
17th, May, 1929.
14th, Oct, 1969.
3rd, Sep, 2017.
17th, Oct, 1995.
28th, Nov, 1946.
31st, Sep, 1969.
23rd, Apr, 1930.
15th, Jun, 2008.
13th, Sep, 1902.
9th, Sep, 1948.
11th, July, 1932.
28th, Nov, 1960.
15th, Jan, 1922.
14th, Dec, 1933.
13th, Apr, 1943.
8th, Jun, 2000.
9th, Jun, 1937.
11th, Mar, 2012.
26th, Jan, 1912.
13th, May, 1974.
3rd, Nov, 2014.
19th, Aug, 1948.