<a href="https://colab.research.google.com/github/TonyIssacJames/EPAI_submissions/blob/master/Ass_10/Ass_10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [14]:
import random
import pytest
import inspect
import re
import random
from random import randint, random
from collections import namedtuple
from collections.abc import Iterable
from datetime import datetime
#print(datetime.now())

In [9]:
!pip install Faker

Requirement already satisfied: Faker in /usr/local/lib/python3.6/dist-packages (4.1.3)
Requirement already satisfied: python-dateutil>=2.4 in /usr/local/lib/python3.6/dist-packages (from Faker) (2.8.1)
Requirement already satisfied: text-unidecode==1.3 in /usr/local/lib/python3.6/dist-packages (from Faker) (1.3)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.4->Faker) (1.15.0)

In [10]:
from faker import Faker

In [11]:
fake = Faker()

In [16]:
profile = fake.profile()

In [22]:
profile

{'address': '8286 Morris Squares Apt. 100\nLake Sierra, DC 38832',
 'birthdate': datetime.date(1923, 10, 5),
 'blood_group': 'B-',
 'company': 'Payne-Moore',
 'current_location': (Decimal('-14.8701195'), Decimal('-15.778242')),
 'job': 'Learning mentor',
 'mail': 'jacob41@hotmail.com',
 'name': 'Emily Jimenez',
 'residence': 'Unit 9942 Box 3234\nDPO AP 47818',
 'sex': 'F',
 'ssn': '110-34-4809',
 'username': 'vkidd',
 'website': ['https://www.keller.com/']}

In [17]:
type(profile)

dict

In [21]:
t = [*profile.values()]
t

['Learning mentor',
 'Payne-Moore',
 '110-34-4809',
 'Unit 9942 Box 3234\nDPO AP 47818',
 (Decimal('-14.8701195'), Decimal('-15.778242')),
 'B-',
 ['https://www.keller.com/'],
 'vkidd',
 'Emily Jimenez',
 'F',
 '8286 Morris Squares Apt. 100\nLake Sierra, DC 38832',
 'jacob41@hotmail.com',
 datetime.date(1923, 10, 5)]

In [27]:
n1 = profile.get('username', None)
n2 = profile.get('current_location', None)
n3 = profile.get('blood_group', None)

print(type(n1), type(n2), type(n2))
print(n1, n2, n3)
print(type(n2[0]))
print(n2[0])

<class 'str'> <class 'tuple'> <class 'tuple'>
vkidd (Decimal('-14.8701195'), Decimal('-15.778242')) B-
<class 'decimal.Decimal'>
-14.8701195

### Use Faker library to get 10000 random profiles. 
Using namedtuple, 
1. calculate the largest blood type, 
2. mean-current_location, 
3. oldest_person_age and 
4. average age (add proper doc-strings).

In [29]:
ProfileData = namedtuple('ProfileData', 'blood_type location age')

In [36]:
tlist_of_profies = tuple()

In [37]:
NoOfPeople = 10

In [38]:
for i in range(NoOfPeople):
  profile = fake.profile()
  tlist_of_profies += ProfileData(profile.get('blood_group', None), profile.get('current_location', None), profile.get('birthdate', None) )

In [39]:
tlist_of_profies

('AB-',
 (Decimal('80.678635'), Decimal('-148.676740')),
 datetime.date(1958, 2, 26),
 'O+',
 (Decimal('-52.889662'), Decimal('29.351545')),
 datetime.date(1958, 8, 17),
 'AB-',
 (Decimal('62.284552'), Decimal('117.893013')),
 datetime.date(2019, 11, 17),
 'AB-',
 (Decimal('-67.2983375'), Decimal('96.625196')),
 datetime.date(1964, 2, 8),
 'AB-',
 (Decimal('41.510249'), Decimal('-40.196451')),
 datetime.date(1992, 1, 30),
 'A-',
 (Decimal('-86.7073625'), Decimal('77.761245')),
 datetime.date(2010, 6, 2),
 'O-',
 (Decimal('75.185301'), Decimal('-38.167574')),
 datetime.date(1959, 12, 5),
 'O+',
 (Decimal('-1.008016'), Decimal('-147.258674')),
 datetime.date(1929, 10, 26),
 'A+',
 (Decimal('-14.0915605'), Decimal('-126.443759')),
 datetime.date(2006, 3, 17),
 'O+',
 (Decimal('57.9115535'), Decimal('-84.788715')),
 datetime.date(1964, 9, 29))